.container {
    display: flex;
    gap: 1rem;
    align-items: center;
    /* color: var(--light--brand--1); */
    
}


@media screen and (min-width: 768px) {
    .container > p {
        display: block;
    }
}
@media screen and (min-width: 768px) {
    .container {
      /* font-size: 1.5rem; */
    }
  }