.container {
    /* background-color:var(--primary--color) ; */
    height: 2rem;
    width: 5rem;
    border-radius: 1rem;
    cursor: pointer;
    border: 1px solid var(--dark--brand--4);
  }
  .darkModeContainer {
    position: relative;
  }
  .buttonContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .btn {
    cursor: inherit;
    background-color: var(--primary--color) ;
    border: 0;
    position: relative;
    bottom: .05rem;
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    transition:  transform .1s linear;
    transform: scale(.8);
  }
  .btnDark {
    background-color:var(--dark--brand--4) ;
  }
  .svgLight {
    position: absolute;
    top: .2rem;
    left: .2rem;
  }
  .svgNight {
    position: absolute;
    top: .2rem;
    right: .2rem;
    width: 1.5rem;
    height: 1.5rem;
    rotate: 180deg;
    /* transform: rotate(360deg); */
    color: var(--dark--brand--3);
    
  }
  @media screen and (min-width: 768px) {
    
  }
  