/* TYPOGRAPHY SYSTEM

01--Font sizes (px):
10 / 10.4 / 12 / 14 / 16 / 22 / 24 / 28 / 32 / 40 / 64

02--SPACING(gap) System (px):
2 / 5 / 

03--Some more Arbitrary Colors:

04--Line heights:
1.4 / 

05--Shadows:

06--Border--radius: */

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
:root {
  --primary--color: #4c51bf;
  --secondary--color: #bee3f8;
  --ternary--color: ;
  --dark--brand--1: #1a202c;
  --dark--brand--2: #2d3748;
  --dark--brand--3: #4a5568;
  --dark--brand--4: #a0aec0;
  --light--brand--1: #f7fafc;
  --light--brand--2: #cbd5e0;
  --error--brand--1: #c53030;
  --error--brand--2: #f0a4a4;
  --green--brand--1: #38a169;
  --green--brand--2: #c6f6d5;
  --input--focus--1: rgba(222, 221, 221, 0.142);
  --shadow--services: rgba(0, 0, 0, 0.06);
  --shadow--projects: rgba(0, 0, 0, 0.073);
  --shadow--skills: rgba(0, 0, 0, 0.071);

  --input--bg--color: #ffff;

  /* --bg--color--1: #efefef; */
}

[data-theme="dark"] {
  --dark--brand--1: #f7fafc;
  --dark--brand--2: #e2e8f0;
  --dark--brand--3: #a0aec0;
  --dark--brand--4: #718096;
  --light--brand--1: #1a202c;
  --light--brand--2: #4a5568;

  --shadow--skills: rgba(255, 255, 255, 0.08);
  --shadow--services: rgba(255, 255, 255, 0.06);
  --shadow--projects: rgba(199, 196, 196, 0.075);

  --input--focus--1: rgba(223, 223, 223, 0.08);
  --input--bg--color: #0f0606;

  --background--color--1: rgba(20, 19, 19, 0.977);
}

/* @font-face {
    font-family: Manrope;
    src: url('../public/fonts/Stalemate-Regular.ttf');
} */

body {
  background: linear-gradient(
    90deg,
    var(--background--color--1),
    var(--background--color--1)
  );
  background-blend-mode: multiply;
  font-size: 1.6rem;
  line-height: 1.4;
  font-family: monospace;
  color: var(--dark--brand--1);
  scrollbar-width: auto;
}
body::selection {
  background-color: var(--secondary--color);
}

li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}

input {
  outline: none;
}
/* ------------------------------------------*/
/* Utility Classes
/* ------------------------------------------*/
.max-width {
  max-width: 122rem;
  margin: 0 auto;
}
.borderBottom {
  /* border-bottom: 1px solid var(--dark--brand--4); */
  box-shadow: 0 0 3px 4px var(--shadow--services);
}
.text-center {
  text-align: center;
}
.paragraph-color--1 {
  color: var(--dark--brand--2);
}
.paragraph-color--2 {
  color: var(--dark--brand--3);
}
.relative {
  position: relative;
}
.hidden {
  overflow: hidden;
}
@media screen and (max-width: 1200px) {
  body {
    padding: 0 2rem;
  }
}
/* Scroll-Bar  */

body::-webkit-scrollbar {
  width: 0.7rem;
}
body::-webkit-scrollbar-track {
  border-radius: 1rem;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--primary--color);
  border-radius: 0.2rem;
}
