.notFoundContainer {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    gap: 2rem;
    align-items: center;   
    white-space: nowrap;
}
.notFoundContainer p {
    position: relative;
    font-size: 2rem;
}
.notFoundContainer p::after {
    background-color: var(--dark--brand--4);
    width: .1rem;
    height: 9rem;
    position: absolute;
    content: '';
    right: -10px;
    top: 50%;
    transform: translate(-50%,-50%);   
}
@media screen and (min-width:768px) {
    .notFoundContainer p {
        font-size: medium;
    }
}
.notFoundContainer a {
    background-color: var(--primary--color);
    color: var(--light--brand--1);
    padding: .5rem .7rem;
    border-radius: .3rem;
}