.HomePageContainer {
  margin-top: 2rem;
  height: calc(100vh - 9.4rem);
}
.homeInfoGridContainer {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  height: 100%;
}
.workDoneArea {
  display: flex;
  gap: 5rem;
  align-items: center;
  padding-left: 5rem;
  justify-content: center;
}
.whoAmI {
  margin-top: -2rem;
  padding-left: 0rem;
  text-align: center;
}
.whoAmI p {
  font-size: 1.4rem;
  white-space: wrap;
}
.myContainer {
  display: inline-flex;
  align-items: flex-start;
  gap: 0.5rem;
}
.myContainer span {
  position: relative;
  top: 0.2rem;
}

.linkContainer {
  text-align: center;
  margin-top: 3rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.photoContainer {
  width: 100%;
  height: 100%;
  position: relative;
}
.photoContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  z-index: -99999;
  filter: grayscale(50%);
}
@media screen and (min-width: 768px) {
  .HomePageContainer {
    margin-top: 3rem;
  }
  .homeInfoGridContainer {
    grid-template-columns: 1fr 2fr;
  }
  .photoContainer {
    overflow: hidden;
  }
  .photoContainer {
    object-fit: cover;
    object-position: top;
  }
  .workDoneArea {
    justify-content: flex-start;
    padding-left: 10rem;
  }
  .linkContainer {
    text-align: left;
    margin-top: 0.6rem;
    padding-bottom: 0;
    margin-top: 5rem;
    justify-content: flex-start;
  }
  .whoAmI {
    text-align: start;
    padding-left: 10rem;
    margin-top: -3rem;
  }
  .whoAmI p {
    white-space: nowrap;
  }
  .myContainer {
    position: relative;
    align-items: center;
    bottom: 2.5rem;
  }
}

.SkeletonContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  position: absolute;
  top: 0;
  content: '';
  justify-content: center;
  align-items: center;
}
