.HomePageContainer {
  margin-top: 5rem;
  /* background-color: var(--bg--color--1); */
  height: calc(100vh - 8.30625rem);
}
.homeInfoGridContainer {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  height: 100%;
}
.workDoneArea {
  display: flex;
  gap: 5rem;
  align-items: center;
  padding-left: 10rem;
  justify-content: center;
}
.whoAmI {
  padding-left: 10rem;
  text-align: center;
}
.whoAmI p {
  font-size: 1.4rem;
  white-space: nowrap;
}
.myContainer {
  display: inline-flex;
  align-items: center;
  gap: .5rem;
}
.myContainer span {
  position: relative;
  top: .2rem;
}

.linkContainer {
  text-align: center;
  margin-top: 1rem;
  padding-bottom: 2rem;
}
.photoContainer {
  width: 100%;
  height: 100%;
  position: relative;
  /* filter: grayscale(1); */
}
.photoContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  z-index: -99999;
}
@media screen and (min-width: 768px) {
  .HomePageContainer {
    margin-top: 2rem;
  }
  .homeInfoGridContainer {
    grid-template-columns: 1fr 2fr;
  }
  .photoContainer {
    overflow: hidden;
  }
  .photoContainer {
    object-fit: cover;
    object-position: top;
  }
  .workDoneArea {
    justify-content: flex-start;
  }
  .linkContainer {
    text-align: left;
    margin-top: .6rem;
    padding-bottom: 0;
    margin-top: 3rem;


  }
  .whoAmI {
    text-align: start;
    /* margin-top: 2rem; */
  }
  .myContainer {
    position: relative;
    bottom: 2.5rem;
  }


}
