.formContainer {
  height: fit-content;
}
.formContainer > div {
  margin-bottom: 1rem;
}
.personalInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formContainer input:focus {
  transition: border-color 0.12s linear;
  border-color: var(--dark--brand--2);
  background-color: var(--input--focus--1);
  transition:  background-color .15ms linear;
}
.personalInfo div {
  width: 100%;
}
.personalInfo label {
  display: block;
}
.formContainer input {
  width: 100%;
  padding: 1.4rem 1rem;
  border: 1px solid var(--dark--brand--4);
  border-radius: .3rem;
  background-color: var(--input--bg--color);
  color: var(--dark--brand--1);
}
.formContainer input::placeholder {
  font-size: 1.4rem;
  font-family: inherit;
  color: var(--dark--brand--4);
}


.formContainer textarea {
  display: block;
  width: 100%;
  height: 10.6rem;
  resize: none;
  outline: none;
  padding: 1.4rem 1rem;
  border: 1px solid var(--dark--brand--4);
  border-radius: 0.3rem;
  background-color: var(--input--bg--color);
  color: var(--dark--brand--1);
  
}
.formContainer textarea::placeholder {
  color: var(--dark--brand--4);

}
.formContainer textarea:focus {
  border-color: var(--dark--brand--2);
  background-color: var(--input--focus--1);
}
.submit {
  text-align: center;
  font-family: inherit;
}
.submit button {
  outline: none;
  background-color: var(--primary--color);
  padding: 1.3rem 2.3rem;
  color: var(--light--brand--1);
  border: 0;
  font-size: 1.5rem;
  border-radius: 2rem;
  cursor: pointer;
  letter-spacing: .5px;
  transition: opacity 0.12s linear;
}
.submit button:hover {
  opacity: .9;
}
/* .submit button:active {
  transform: translateY(-1px);
} */
.submit button:disabled {
  background-color: var(--dark--brand--4);
  cursor: not-allowed;
}
.error {
  position: absolute;
  content: '';
  top: 0;
   font-size: 1rem;
   top: -.7rem;
   left: 1rem;
   /* padding: .2rem 0; */
   color: var(--error--brand--1);
   background-color: var(--input--bg--color);  
}
.borderRed {
  border-color: rgba(255, 0, 0, 0.715) !important;
}
.green {
  border-color: var(--green--brand--1) !important;

}
@media screen and (min-width:992px){
  .personalInfo {
  flex-direction: row;
  gap: 3rem;
}
.submit {
  text-align: end;
}
.submit button {
  font-size: small;
  padding: 1rem 2rem;
}
}