.HowWorkGeneralContainer {
  text-align: center;
  margin-top: 9rem;
}
.HowDoIWorkContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  justify-items: center;
  text-align: center;
  position: relative;
}
.HowDoIWorkContainer > p {
  color: var(--dark--brand--3);
}
.HowDoIWorkContainer ul {
  text-align: start;
  margin-top: 2rem;
  margin-left: 5rem;
}
.HowDoIWorkContainer ul::after {
  position: absolute;
  content: "";
  top: 4rem;
  height: 24rem;
  width: 1px;
  left: 2rem;
  background-color: var(--secondary--color);
  z-index: -99999;
}
.HowDoIWorkContainer ul li {
  margin: 2.5rem 0;
}
.HowDoIWorkContainer ul li span {
  display: inline-flex;
  justify-content: center;
  font-size: small;
  align-items: center;
  position: absolute;
  color: var(--primary--color);
  content: "";
  background-color: var(--light--brand--1);
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.06);
  left: .3rem;
  right: 0;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
}
.HowDoIWorkContainer ul li p {
  color: var(--dark--brand--3);
  margin-top: 0.5rem;
}
.EachWorkIconContainer {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  /* gap: 10rem; */
}
.EachWorkIconContainer div {
  width: 27rem;
  height: 27rem;
}
.EachWorkIconContainer svg {
  width: 100%;
  height: 100%;
  color: var(--dark--brand--3);
}
.lastChild {
  margin: 2rem 0 1rem 0;
}

.lastParagraph {
  color: var(--dark--brand--3);
  margin: 0.5rem 0;
}
@media screen and (min-width: 768px) {
  .HowDoIWorkContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
