.NavigationContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    border-bottom: 1px solid var(--dark--brand--4);
    position: relative;
}
.logoNavItems {
    display: flex;
    gap: 8rem;
}
.menuContainer {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    left: 13rem;
    cursor: pointer;
    color: var(--dark--brand--3);
    transition: color 0.1s linear;
    border-radius: .1rem;
}
.menuContainer:hover {
    color: var(--dark--brand--1);
}
.menuContainer:active {
    outline: 1px solid var(--dark--brand--4);
    outline-offset: 1px;
}
.menuContainer svg {
    width: 100%;
    height: 100%;
}
.darkModeContainer {
    display: flex;
    gap: 1rem;
}
@media screen and (min-width:768px) {
    .menuContainer {
        display: none;
    }
    
}