.navContainer ul {
  display: none;
  gap: 3rem;
  color: var(--dark--brand--3);
  transition: all 0.15s;
}
.activeLink {
  color: var(--dark--brand--1);
  display: inline-block;
}
.navContainer ul li {
  position: relative;
}
.navContainer ul li:hover,
.navContainer ul li:active {
  color: var(--dark--brand--1);
}
.navContainer ul li:hover::after {
    content: '';
    position: absolute;
    width: 40%;
    height: .1rem;
    bottom: 0;
    left: 0;
    background-color: var(--primary--color);
}
 .activeLink::after {
  content: '';
    position: absolute;
    width: 40%;
    height: .1rem;
    bottom: 0;
    left: 0;
    background-color: var(--primary--color);
} 


.active ul {
  display: flex;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 99999999;
  background-color: rgba(0, 0, 0, 0.527);
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(.4rem);
}
.active ul li {
  color: var(--light--brand--2);
}
.active ul li:hover {
  color: var(--secondary--color);
}
.cross {
  color: var(--light--brand--1);
  position: absolute;
  top: 5rem;
  z-index: 99999999;
  right: 4rem;
  cursor: pointer;
}
.cross:hover {
  color: var(--error--brand--2);
}


.activeLinkRes {
  color: var(--light--brand--1) !important;
}


@media screen and (min-width:768px) {
  .navContainer ul {
    display: flex;
  }
  
}