.navContainer ul {
  display: flex;
  gap: 3rem;
  color: var(--dark--brand--3);
  transition: all 0.15s;
}
.activeLink {
  color: var(--dark--brand--1);
  display: inline-block;
}
.navContainer ul li {
  position: relative;
}
.navContainer ul li:hover,
.navContainer ul li:active {
  color: var(--dark--brand--1);
}
.navContainer ul li:hover::after {
    content: '';
    position: absolute;
    width: 40%;
    height: .1rem;
    bottom: 0;
    left: 0;
    background-color: var(--primary--color);
}
 .activeLink::after {
  content: '';
    position: absolute;
    width: 40%;
    height: .1rem;
    bottom: 0;
    left: 0;
    background-color: var(--primary--color);
} 
