.NavigationContainer {
    /* background-color: var(--bg--color--1); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    /* white-space: nowrap; */
    border-bottom: 1px solid var(--dark--brand--4);
}
.logoNavItems {
    display: flex;
    gap: 8rem;
}