.takeServicesContainer {
  /* max-width: 90%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* white-space: nowrap; */
  height: 15rem;
  margin: 4rem auto;
  text-align: center;
}
.takeServicesContainer h3 {
  padding: 0.5rem 0;
}
.takeServicesContainer p {
  color: var(--dark--brand--3);
}
.takeServicesContainer > div:nth-child(2) {
  text-align: right;
  justify-self: flex-end;
  position: relative;
}
.takeServicesContainer > div:nth-child(2) svg {
  height: 25rem;
  color: var(--secondary--color);
  position: absolute;
  content: "";
  width: 25rem;
  top: 9rem;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: color .3s linear;
}


@media screen and (max-width:768px) {

  .takeServicesContainer > div:nth-child(2) svg {
    margin-top: 2rem;
  }
}
