.loader {
  /* margin: 0 auto; */
  width: 4.8rem;
  height: 4.8rem;
  border: 0.5rem solid  var(--light--brand--1);
  border-radius: 100%;
  border-bottom: 0.5rem solid var(--primary--color);
  /* animation: loader infinite alternate-reverse none infinite linear; */
  animation-name: loader;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  animation-iteration-count: infinite;
  animation-direction: normal;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
