/* @media screen and (min-width: 768px) {
  .eachServicesContainer {
    grid-template-columns: repeat(3,1fr);
  }
  .eachServicesContainer li:nth-child(5) {
  grid-column: 2/3;
}
.eachServicesContainer li:nth-child(6) {
  grid-column: 3/4;
}
} */
.pageHeader > p {
  text-align: center;
}
.projectGeneralContainer {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.projectGeneralContainer > p {
  text-align: center;
}

.projectGeneralContainer .firstUL {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  row-gap: 3rem;
}
.firstUL > li {
  border-radius: 0.3rem;
  box-shadow: 0px 0px 5px 4px var(--shadow--projects);
  transition: box-shadow 0.15s ease;
}
.firstUL > li:hover {
  box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.13);
}
.imgContainer {
  width: 100%;
  height: 0;
  padding-top: calc(100% * (3 / 4));
  position: relative;
}
.imgContainer img {
  width: 100%;
  content: "";
  height: 100%;
  zoom: 3;
  object-fit: cover;
  object-position: top;
  position: absolute;
  display: block;
  top: 0;
}
.dataType {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
}
.contentContainer {
  padding: 0.5rem 1rem;
}
.contentContainer h4 {
  padding-bottom: 0.5rem;
}
.iconUL {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.iconUL li span {
  color: var(--primary--color);
}

.anchorsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  bottom: 0;
}
.viewOnline,
.viewOnline:active {
  background-color: var(--primary--color);
  color: var(--light--brand--1);
  font-size: small;
  border: none;
  outline: none;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.3rem 0.4rem;
  border-radius: 0.3rem;
  transition: opacity 0.15s ease;
  cursor: pointer;
}
.viewOnline:hover {
  opacity: 0.9;
}
.github {
  position: relative;
  top: 0.3rem;
}
.github {
  position: relative;
  top: 0.3rem;
}
.github svg:hover {
  color: var(--primary--color);
}
.footerProjects {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 1rem;
}
.footerProjects p {
  padding-bottom: 1rem;
}

@media screen and (min-width: 576px) {
  .projectGeneralContainer .firstUL {
    grid-template-columns: repeat(2, 1fr);
  }
 
}

@media screen and (min-width: 768px) {
  .projectGeneralContainer .firstUL {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 0 0 0.5rem;
  }
  
}
@media screen and (min-width: 1200px) {
  .projectGeneralContainer .firstUL {
    grid-template-columns: repeat(4, 1fr);
  }
   .projectGeneralContainer .firstUL li:nth-child(9) {
    grid-column: 2/3 ;
  }
  .projectGeneralContainer .firstUL li:nth-child(10) {
    grid-column: 3/4 
  }
}
